<!DOCTYPE html>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
		<h1 align="center">Robotic Arm Camera Stream</h1>
	</head>
	<body>
		<img src="{{ url_for('video_feed_contours') }}" id="SourceVideo" style='border:5px solid#000000;border-color:Cyan'>
		<p id="TimerText" align="center" style="color:yellow">Press Q to start recording | Press E to end recording</p>
		<p id="RecordingText" align="center" style="color:white">Recording Status: None</p>

		<button id="RecHist" onclick="PrintTimeHistory()" align="center" style="width:110px; height:50px; background-color:darkslateblue; border: none">Recording History</button>
		<div id="HistArea"></div>

		<script type="text/javascript" src="{{ url_for('static', filename='function.js') }}"></script>
		
	</body>
</html>
